////
/// ここでCSSのデフォルトの不要な設定をすべてリセットします。
////

@layer base {
	// さよなら、醜いボタンスタイル。
	button {
		margin: 0;
		padding: 0;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		background: none;
		border: none;
		outline: none !important;
		cursor: pointer;
		appearance: none;
	}

	// 画像と動画がデフォルトでインライン要素だったとは、blockの下の隙間はお前のせいか？
	img,
	video,
	picture {
		display: block;
		vertical-align: bottom;
	}

	// labelのカーソルは継承されたスタイルを使用するべきです。
	label {
		cursor: inherit;
	}

	// 検索ボックスの隣の×を削除します。
	input[type="search" i]::-webkit-search-cancel-button {
		display: none;
	}
}
