@use "eases" as *;
@use "sass:map";

// #region レスポンシブレイアウト
$mobile-max-width: 639px;
$tablet-max-width: 991px;
// #endregion

// #region トランジションアニメーション
$fallback-transitions: all $ease-out-expo 250ms, color $ease-out-expo 100ms, fill $ease-out-expo 100ms, accent-color 0ms;
// #endregion

// #region フォント
/// 一貫した体験を提供するため、「源ノ角ゴシック」シリーズのフォントを優先的に使用します。\
/// lang属性により地域の字形が自動的に切り替わるため、字形の不一致を心配する必要はありません。ただし、各地域のフォントファミリーには多数の「源ノ角ゴシック」シリーズフォントが記述されています。\
/// 順序：Adobeの言語特定可変フォント、Googleの言語特定可変または通常フォント、Adobeの言語特定通常フォント。\
/// 地域サブセット版フォントのみをインストールすると、フォールバックが絶えず発生するため、地域サブセット版フォントは除外します。
$source-han-sans-fonts: (
	simplified-chinese: ("Source Han Sans SC VF", "Noto Sans CJK SC", "Source Han Sans SC"),
	traditional-chinese-taiwan: ("Source Han Sans TC VF", "Noto Sans CJK TC", "Source Han Sans TC"),
	traditional-chinese-hongkong: ("Source Han Sans HC VF", "Noto Sans CJK HK", "Source Han Sans HC"),
	japanese: ("Source Han Sans VF", "Noto Sans CJK JP", "Source Han Sans"),
	korean: ("Source Han Sans K VF", "Noto Sans CJK KR", "Source Han Sans K"),
);
$source-han-sans-fonts: map.set($source-han-sans-fonts, merged, map.values($source-han-sans-fonts));
/// 絵文字フォント。
$emoji-fonts: "Apple Color Emoji", "Noto Color Emoji", "Twemoji Mozilla", "Segoe UI Emoji", "Segoe UI Symbol", emoji;
/// 汎Unicodeフォント。
$pan-unicode-fonts: "Plangothic P1", "Plangothic P2", "MiSans L3", "WenJin Mincho Plane 0", "WenJin Mincho Plane 2", "WenJin Mincho Plane 3", "BabelStone Han", SimSun-ExtB, SimSun-ExtG, HanaMinA, HanaMinB, Jigmo, Jigmo2, Jigmo3, Unifont, "Unifont Upper";
/// フォールバック順序：英語フォント、CJKフォント、サンセリフ汎用フォントファミリー、絵文字フォント、汎Unicodeフォント。
$fallback-fonts: sans-serif, $emoji-fonts, $pan-unicode-fonts;
/// 英語フォント。\
/// Droid Sans、Open Sans、Tahoma、Geneva、Verdana、Helvetica Neue、Helvetica、Arialは現代的でないフォントであり、使用すべきではありません。\
/// 注意：英語、ベトナム語、インドネシア語など、中日韓以外の言語は簡体字中国語フォントを流用します。\
/// 注意：極東地域でWindows Vista / 7のクラシックテーマを使用すると、デフォルトフォントが古風でレトロなビットマップフォントのSimSunやMS Minchoで表示されるという話を聞きました。これは最悪です。ああ、お願いだから、system-ui汎用フォントファミリーは絶対に使わないでください。さもないと、インターフェース全体がジェニーおばさんのアップルパイみたいにぐちゃぐちゃになってしまいます。まったくもって最悪です。したがって、サイトの一貫した体験を保証するため、ユーザーをコピー機や窓から放り出すわけにはいきません。system-uiをフォントスタックから追い出さなければなりません！参照：https://github.com/twbs/bootstrap/issues/22328 および https://github.com/w3c/csswg-drafts/issues/3658 。
$english-fonts: "Yozora Sans", -apple-system, BlinkMacSystemFont, InterVariable, Inter, "Segoe UI", "Roboto Flex", Roboto, "Noto Sans", "Fira Sans";
/// 簡体字中国語フォント。
$simplified-chinese-fonts: $english-fonts, map.get($source-han-sans-fonts, simplified-chinese), map.get($source-han-sans-fonts, merged), "PingFang SC", "Microsoft YaHei", $fallback-fonts;
/// 台湾繁体字中国語フォント。
$traditional-chinese-taiwan-fonts: $english-fonts, map.get($source-han-sans-fonts, traditional-chinese-taiwan), map.get($source-han-sans-fonts, merged), "PingFang TC", "Microsoft JhengHei", $fallback-fonts;
/// 香港繁体字中国語フォント。
$traditional-chinese-hongkong-fonts: $english-fonts, map.get($source-han-sans-fonts, traditional-chinese-hongkong), map.get($source-han-sans-fonts, merged), "PingFang HK", "Microsoft JhengHei", $fallback-fonts;
/// 日本語フォント。\
/// ヒラギノ角ゴは、ラッパ口や四角いコンマなどを採用しており、プロジェクトのスタイル理念に合わないため、源ノ角ゴシックを優先します。源ノ角ゴシックがインストールされていない場合はヒラギノ角ゴで表示されます。\
/// 注意：Airaは幅の狭い仮名フォントが嫌いなため、Yu Gothic UI、Meiryo UI、MS UI Gothicは使用していません。そのため、日本語翻訳者は訳文の文字数を調整するよう注意してください。例えば、漢字語を多用し、「カタカナ語」を少なくするなどしないと、文字が枠外にはみ出てしまいます。
$japanese-fonts: $english-fonts, map.get($source-han-sans-fonts, japanese), map.get($source-han-sans-fonts, merged), "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Yu Gothic", Meiryo, $fallback-fonts;
/// 韓国語フォント。\
/// Appleの韓国語フォントは漢字のサポートが限定的で、フォールバックが頻繁に発生して体験が悪いため、源ノ角ゴシックを優先します。
$korean-fonts: $english-fonts, map.get($source-han-sans-fonts, korean), map.get($source-han-sans-fonts, merged), "Apple SD Gothic Neo", "Malgun Gothic", $fallback-fonts;
/// 英語ロゴフォント。
$english-logo-fonts: Montserrat, $english-fonts;
/// 等幅フォント。
$monospace-fonts: "Cascadia Code", "Cascadia Mono", "JetBrains Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
// #endregion

// #region グラデーション
$hue-radial: conic-gradient(from 90deg at center, red 0deg, yellow 60deg, lime 120deg, cyan 180deg, blue 240deg, magenta 300deg, red 360deg);
$luminance-radial: radial-gradient(closest-side, white 0%, #fff0 100%);
$-sixth: calc(100% / 6);
$hue-linear: linear-gradient(to right, red 0%, yellow $-sixth, lime $-sixth * 2, cyan $-sixth * 3, blue $-sixth * 4, magenta $-sixth * 5, red 100%);
// #endregion

/// サイドバーの幅
$sidebar-width: 48px;

/// モバイル版タイトルバーとナビゲーションバーの高さ
$mobile-toolbar-height: 56px;

/// バナーの高さ
$banner-height: 10rem;

/// メニューのマージン
$menu-padding: 6px;
$menu-item-padding-block: 8px;
$menu-item-height: 36px;
$menu-item-padding-block-mobile: 12px;
$menu-item-height-mobile: 44px;

// #region ページの水平マージン
$page-padding-x: 5dvw;
$page-padding-x-tablet: 24px;
$page-padding-x-mobile: 16px;
// #endregion

$drawer-padding: $page-padding-x-mobile;
$drawer-width: 245px + 2 * $drawer-padding;
$drawer-transition-duration: 500ms;
